.card {
    width: 58px;
    border: 2px solid black;
    border-radius: 5px;
    height: 68px;
    cursor: pointer;
    background: lime;
    margin-right: 5px;
    user-select: none;
    display: inline-block;
    margin-bottom: 5px;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
}
.bigcard {
    width: 108px;
    height: 128px;
    display: block;
    position: absolute;
    bottom: 0px;
    right: 20px;
}
#tooltip {
    pointer-events: none;
    z-index: 100;
    width: 150px;
    height: 20px;
    background-color: rgba(0, 0, 0, 0.75);
    text-align: center;
    position: absolute;
    color: white;
}
.card.down {
    background: lightcyan;
}
.card img.cardImage {
    width: 58px;
    height: 68px;
    border-radius: 2px;
    position: absolute;
}
.bigcard img.cardImage {
    width: 108px;
    height: 128px;
    border-radius: 2px;
}
.card img.cardImage a {
    display: none;
}
.card.down img.cardImage {
    display: none;
}
#container {
    width: calc(100% - 14px);
    height: calc(100% - 14px);
    padding: 5 5 5 5;
    border: 2px solid black;
    border-radius: 5px;
    background: lightblue;
    overflow:visible;
}